body {
    background-color: white;
}

.header {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex: 0 0 30%;
}

.btn {
    height: 30px;
    width: 60px;
    margin: 20px;
    border: none;
    border-radius: 8%;
    color: white;
    font-size: 18px;
}

.cat-btn {
    background-color: #5BC0DF;
}

.dog-btn {
    background-color: #5CB85B;
}

.dino-btn {
    background-color: #F0AD4E;
}

img {
    height: 250px;
}

.pets {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    margin: 10px 5px;
    text-align: center;
    padding: 0;
}

footer.cat {
    background-color: #DAEDF7;
    color: #1A65C1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

footer.dino {
    background-color: #FDF8E3;
    color: #FFB74D;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

footer.dog {
    background-color: #DFF0D8;
    color: #4A984C;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
