body {
    background-color: #EBFFFB;
}

.header {
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    color: lightgreen;
    text-decoration: underline overline;
    text-decoration-style: wavy;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    height: 40px;
    width: 70px;
    margin: 20px;
    border: none;
    border-radius: 8%;
    color: white;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

.cat-btn {
    background-color: #5BC0DF;
}

.dog-btn {
    background-color: #5CB85B;
}

.dino-btn {
    background-color: #F0AD4E;
}

.reset-btn {
    background-color: #B0AAA8;
    color: #F5F5F5;
}

.btn:hover {
    border: 2px solid rgb(62, 130, 255);
}

img {
    padding: 5px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
}

.pets {
    background-color: gainsboro;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    margin: 10px 5px;
    width: 285px;
    height: 400px;
    text-align: center;
    align-content: stretch;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

header {
    background-color: gray;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pets h3 {
    padding: 0;
}

.pets p {
    font-size: 16px;
}

.pets footer {
    font-size: 18px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
}

footer.cat {
    background-color: #DAEDF7;
    color: #1A65C1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

footer.dino {
    background-color: #FDF8E3;
    color: #FFB74D;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

footer.dog {
    background-color: #DFF0D8;
    color: #4A984C;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
